<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <strong>Click- Which type you want to solve questions.</strong>
    
<ion-list>
  <ion-item>
    <ion-label>signal</ion-label>
    <ion-button color="success" size="default" routerLink="/onesingle">click-here</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>photo</ion-label>
    <ion-button color="success" size="default" routerLink="/photo">click-here</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>edit</ion-label>
    <ion-button color="success" size="default" routerLink="/editprofile">click-here</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Image</ion-label>
    <ion-button color="success" size="default" routerLink="/gallary">click-here</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>About-us</ion-label>
    <ion-button color="success" size="default" routerLink="/about">click-here</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Contact-us</ion-label>
  <ion-button color="success" size="default" routerLink="/contact">click-here</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Number System</ion-label>
    <ion-button color="success" size="default" routerLink="/numbersystem">click-here</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>LCM and HCF</ion-label>
    <ion-button color="success" size="default" routerLink="/lcmhcf">click-here</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Decimal Fracrion</ion-label>
    <ion-button color="success" size="default" routerLink="/decimalfracrion">click-here</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Simplification</ion-label>
    <ion-button color="success" size="default" routerLink="/simplification">click-here</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Square-root and Cube-root</ion-label>
    <ion-button color="success" size="default" routerLink="/squarecube">click-here</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Average</ion-label>
    <ion-button color="success" size="default" routerLink="/average">click-here</ion-button>
  </ion-item>
</ion-list>





  </div>
</ion-content>
